@import "tailwindcss";

@theme {
  --color-primary: var(--primary);
}

/* 默认 Bochi Theme*/
:root {
  --primary: rgb(255 130 140);
}




* {
  box-sizing: border-box;
}

html,
body,
#app {
  /*overflow-y: hidden;*/
  min-height: 100%;
}

body {
  margin: 0;
}
