@import "tailwindcss";

@theme {
  --color-primary: var(--primary);
}

/* Bochi 粉色主题 (默认) */
:root {
  --primary: rgb(255 130 140);
  --shadow-color: rgb(255 130 140 / 0.18);
}

/* 蓝色主题 */
html.theme-whiteAlbum {
  --primary: rgb(70 120 180);
  --shadow-color: rgb(70 120 180 / 0.18);
}

* {
  box-sizing: border-box;
}

html,
body,
#app {
  /*overflow-y: hidden;*/
  min-height: 100%;
}

body {
  margin: 0;
}
